// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:900,500);
$ralewayFont: 'Raleway';
// Modules and Variables
@import "modules/all";

// Patials
@import "partials/base";

h2{
  font-family: $ralewayFont;
  font-weight: 900;
}
a,p{
  font-family: $ralewayFont;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 30px; 
}
ul{
  margin: 65px 0 0 0;
  list-style-type: none;
  float: right;
}
#rayfolio-dell{
  visibility: hidden;
  a{
    color: #333;
    line-height: 24px;
    padding-left: 10px;
  }
}
.topBlue {
  background: $dellBlue;
  height: 5px;
  position: relative;
  width: auto;
}
